.Canvas{
    background-color: #211f30;
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
}

.Point{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    animation: fadeIn 0.4s;
    text-align: center;
    font-size: 80%;
}

.Point--source{
    background-color: #e29930;
}

.Point--microphone{
    background-color: #217ca3;
}
