.Footer{
    position: relative;
    width: 100%;
    border-top: 5px solid #32384d;
    height: 50px;
}

.Footer__button{
    position: relative;
    width: 40%;
    background-color: #b9c4c9;
    border: none;
    height: 45px;
    transition: all 0.5s;
    color: #211f30;
}

.Footer__button:hover{
    background-color: #211f30;
    transition: all 0.5s;
    color: #b9c4c9;
}

.Footer__button--selected{
    background-color: #211f30;
    transition: all 0.5s;
    color: #b9c4c9;
}

.Footer__button--small{
    width: 10%;
}
