.Footer{
    position: relative;
    width: 100%;
    border-top: 5px solid #32384d;
    height: 50px;
}

.Footer__button{
    cursor: pointer;
    position: relative;
    margin: 0 5px;
    width: calc(33% - 10px);
    background-color: #b9c4c9;
    border: none;
    height: 45px;
    transition: all 0.5s;
    color: #211f30;
    font-family: "Montserrat Light Italic";
}

.Footer__button:hover{
    background-color: #211f30;
    transition: all 0.5s;
    color: #b9c4c9;
}

.Footer__button--selected{
    /*background-color: #ff301d;*/
    transition: all 0.5s;
    color: black;
}

