.SignalBank{
    position: fixed;
    left: -15px;
    top: 100px;
    width: 0;
    height: calc(100% - 205px);
    padding: 5px;
    transition: all 0.3s;
    background-color: #b9c4c9;
    border-radius: 15px;
    overflow: visible;
}

.SignalBank__button{
    animation: delayedFadein 1s forwards;
    position: relative;
    left: 15px;
    background-color: #217ca3;
    border: none;
    width: calc(100% - 20px);
    height: 50px;
    transition: all 0.3s;
    margin: 3px 0;
    font-size: 95%;
    font-family: "Montserrat Light";
}

.SignalBank__button--basic{
    background-color: #e29930;
}


.SignalBank__separator{
    border: 1px solid #e29930;
    margin: 5px;
    margin-left: 15px;
}

.SignalBank__button:hover{
    background-color: #ff301d
}

.SignalBank__button--return:hover{
    background-color: #e29930;
}

.SignalBank__button--basic:hover{
    background-color: #217ca3;
}

.SignalBank__button--selected{
    background-color: #ff301d
}

.SignalBank__button--selected:hover{
    background-color: #32384d;
}

.ASK_FOR_T0{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.3);
}

.ASK_FOR_T0__inner{
    position: fixed;
    width: 300px;
    height: 150px;
    left: calc(50% - 160px);
    top: calc(50% - 85px);
    background-color: #32384d;
    padding: 20px;
}

.ASK_FOR_T0__span{
    color: #b9c4c9;
    font-size: 160%;
    font-family: Montserrat Light;
    position: relative;
    text-align: center;
}

.ASK_FOR_T0__input{
    margin: 20px;
    width: calc(100% - 40px);
    font-size: 140%;
    border: none;
    border-bottom: 1px dashed #b9c4c9;
    position: relative;
    background: transparent;
    outline: none;
    font-style: italic;
    font-family: Montserrat Light;
    color: #b9c4c9;
}

.ASK_FOR_T0__input:focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.ASK_FOR_T0__button{
    background-color: #b9c4c9;
    margin: 10px;
    border: none;
    height: 40px;
    width: 128px;
    transition: all 0.2s;
    font-family: "Montserrat Light Italic";
    cursor: pointer;
}

.ASK_FOR_T0__button:hover{
    background-color: #217ca3;
}

@keyframes delayedFadein{
    0% { opacity:0; }
    33% { opacity:0; }
    100% { opacity:1; }
}
