.SwitchWindow{
    position: fixed;
    width: 60px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(100% - 20px);
    background-color: #b9c4c9;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.SwitchWindow--left{
    left: -40px;
}

.SwitchWindow:hover{
    left: calc(100% - 40px);
}

.SwitchWindow--left:hover{
    left: -20px;
}

.SwitchWindow__icon{
    position: relative;
    top: calc(50% - 10px);
    left: 3px;
}

.SwitchWindow--left .SwitchWindow__icon{
    position: relative;
    top: calc(50% - 10px);
    left: 43px;
}
