button{
    font-family: "Montserrat Light Italic";
    font-size: 120%;
}

.App{
	padding: 5px;
	background-color: #32384d;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	position: absolute;
    overflow: hidden;
}

.titlebar {
    position: relative;
    width: 100%;
    height: 20px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    /*left: calc(100% - 92px);*/
}

.titlebar__button {
    -webkit-app-region: no-drag;
    background-color: #211f30;
    height: 20px;
    border: none;
    margin-left: 4px;
    outline: none;
    position: relative;
    right: 0;
    transition: all 0.2s ease;
}

.titlebar__button:hover {
    background-color: #217ca3;
}

.titlebar__buttonImage{
    color: #b9c4c9;
    position: relative;
    top: -2px;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("./theme/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat Light Italic";
    src: url("./theme/fonts/Montserrat/Montserrat-LightItalic.ttf");
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
