button{
    font-family: Uni;
    font-size: 120%;
}

.App{
	padding: 5px;
	background-color: #32384d;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	position: absolute;
    overflow: hidden;
}

@font-face {
    font-family: "Uni";
    src: url("./theme/fonts/Uni Sans Thin.otf");
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
